@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monsterrat', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --grey: #4e4e4e;
    --dark-grey: #303030;
    --blue: #4D91C6;
    --purple: #603F83FF;
    --purple-dark: rgb(82, 54, 112);
    --green: #2BAE66FF;
    --green-dark: rgb(37, 153, 89);
    --white: white;
}
body {
    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 80vh 10vh;
    color: white;
    background: black;
}

nav {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh;
}

.brand_container {
    /* background: red; */
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.brand {
    /* background: brown; */
    font-size: 2rem;
    font-weight: 700;
}

.menu_container {
    /* background: blue; */
    position: absolute;
    left: 50vw;
    height: 10vh;
    width: 50vw;
}

.menu {
    /* background: mediumslateblue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;
    height: 10vh;
}

.menu ul {
    /* background: red; */
    display: inline-flex;
}

.menu ul li {
    /* background: blue; */
    list-style: none;
    margin-left: 8px;
    font-size: 1rem;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 12px;
}

.menu ul li a:hover {
    background: white;
    color: black;
}

.toggle_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;
    opacity: 0;
    pointer-events: none;
}

.toggle {
    cursor: pointer;
}

.toggle img {
    width: 32px;
}

main {
    overflow: auto;
}

section.home {
    /* background: red; */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 70vh 10vh;
}

.greetings_container {
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px;
}

.greetings {
    /* background: mediumaquamarine; */
    text-align: center;
}

.greetings h2 {
    font-size: 2rem;
    font-weight: 100;
}

.greetings h1 {
    font-size: 2rem;
    font-weight: 800;
}

.arrow_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.arrow {
    background: white;
    padding: 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.arrow a {
    text-decoration: none;
}

.arrow a img {
    width: 32px;
}

footer {
    background: white;
    color: black;
    display: flex;
    align-items: flex-end;
}

.social_icons_container {
    background: black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 8vh;
    width: 100vw;
}

.social_icons {
    padding-left: 32px;
}

.social_icons a {
    text-decoration: none;
    margin-right: 12px;
}

.social_icons a img {
    width: 24px;
}

@media screen and (max-width: 991px) {
    .menu_container {
        background: black;
        z-index: -1;
    }

    .menu_container.active {
        z-index: 1;
        left: 0vw;
        top: 10vh;
        width: 100vw;
        height: 90vh;
    }

    .menu_container.active .menu {
        /* background: red; */
        justify-content: center;
        height: auto;
    }

    .menu_container.active .menu ul {
        /* background: mediumaquamarine; */
        display: block;
    }

    .menu_container.active .menu ul li {
        /* background: mediumslateblue; */
        margin-left: 0px;
        margin-bottom: 24px;
        text-align: center;
    }

    .toggle_container {
        opacity: 1;
        pointer-events: fill;
    }
}