@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monsterrat', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --grey: #4e4e4e;
    --dark-grey: #303030;
    --blue: #4D91C6;
    --purple: #603F83FF;
    --purple-dark: rgb(82, 54, 112);
    --green: #2BAE66FF;
    --green-dark: rgb(37, 153, 89);
    --white: white;
}
body {
    overflow: hidden;
}

.navbar {
    height: 10vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh;
}

.brand_container {
    display: flex;
    align-items: center;
    padding: 0px 32px;
}

.brand_container .brand {
    /* background: red; */
}

.brand_container .brand a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.5rem;
}

.menu_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 32px;
}

.menu {
    /* background: red; */
    height: 100%;
}

.menu ul {
    /* background: blue; */
    height: 100%;
    display: flex;
    align-items: center;
}

.menu ul li {
    /* background: mediumvioletred; */
    list-style: none;
    display: inline;
    /* padding: 14px; */
}

.menu ul li a {
    /* background: red; */
    text-decoration: none;
    color: black;
    padding: 14px;
}

.menu ul li a:hover {
    background: black;
    color: white;
}

.toggle_container {
    position: absolute;
    right: -1000px;
}

.toggle {
    /* background: red; */
}

.toggle button {
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.toggle button img {
    width: 32px;
}

@media screen and (max-width: 991px) {
    .toggle_container {
        right: 32px;
    }

    .menu {
        position: absolute;
        right: -1000px;
    }

    .menu.active {
        background: white;
        right: 0px;
        top: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu.active ul {
        /* background: blue; */
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;

    }

    .menu.active ul li {
        /* background: mediumvioletred; */
        list-style: none;
        width: fit-content;
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
    }
    .menu.active ul li a {
        /* background: mediumturquoise; */
        /* padding: 14px; */
    }
}
