@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Londrina Solid', cursive;
}
/* Sembunyikan scrollbar untuk IE, Edge dan Firefox */
body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE dan Edge */
    scrollbar-width: none;
    /* Firefox */
}
/* Sembunyikan scrollbar dari Chrome, Safari dan Opera */
body::-webkit-scrollbar {
    display: none;
}
:root {
    --grey: #e6e6e6;
    --primary: #2e3192;
    --primary-hover: #242779;
    --success: #006837;
    --success-hover: #00502b;
    --warning: #ba9b00;
    --warning-hover: #a38800;
    --danger: #c1272d;
    --danger-hover: #a31f24;
}
.button_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_card {
    background: var(--grey);
    padding: 32px;
    /* display: inline-flex; */
}
.button_wrap {
    margin-bottom: 16px;
}
.button {
    padding: 8px 16px;
    border: none;
    margin: 4px;
    font-weight: 100;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.button .button_icon {
    margin-right: 8px;
}
.button:active {
    transform: scale(0.900);
}
.is_button_primary {
    background: var(--primary);
}
.is_button_primary:hover {
    background: var(--primary-hover);
}
.is_button_success {
    background: var(--success);
}
.is_button_success:hover {
    background: var(--success-hover);
}
.is_button_warning {
    background: var(--warning);
}
.is_button_warning:hover {
    background: var(--warning-hover);
}
.is_button_danger {
    background: var(--danger);
}
.is_button_danger:hover {
    background: var(--danger-hover);
}
